@media screen and (max-width: 1251px){
	
	/*HEADER*/
	.logo{
		width: 134px;
		height: 50px;
	}

	.header-icons{
		position: absolute;
		top: -14px;
		right: 0;
	}

	.header-menu-one > ul a{
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
	}

	.header-menu-two > ul a{
		font-weight: 400;
		font-size: 8px;
		line-height: 10px;

	}

	.header-input-and-button input{
		width: 151.43px;
		height: 22px;
		font-size: 8px;
		line-height: 10px;
		color: rgba(0, 0, 0, 0.8);
	}
	.header-input-and-button button{
		
		height: 25px;
		font-weight: 600;
		font-size: 8px;	
		line-height: 10px;
		color: #FFFFFF;
	}


	.work-in-title{
		font-weight: 600;
		font-size: 26px;
		line-height: 130%;
	}
	.about-us h3{
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
	}
	.about-us h1{
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
	}
	.about-us p{
		font-weight: 400;
		font-size: 14px;
		line-height: 138.5%;
	}
	.work-in-first, .work-in-second{
		gap: 10px;
	}

	.about-us{
		gap: 10px;
	}
	.about-us-card{
		padding: 10px;
	}
	.about-us-card > div img{
		width: 27px;
		height: 27px;
	}
	.about-us-card > div h3{
		font-weight: 500;
		font-size: 12px;
		line-height: 130%;
	}
	.about-us-card > div{
		gap: 10px;
	}
	.about-us-card{
		gap: 10px;
	}
	.about-us p{
		font-weight: 300;
		font-size: 8px;
		line-height: 130%;
	}

	.cities{
		padding: 15px;
		gap: 25px;
		width: 256px;
		height: 100%;
	}
	.cities h1{
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
	}
	.cities ul{
		gap: 15px;
	}
	.cities ul li a{
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
	}
	.vacancyes-card{
		padding: 12px;
		gap: 10px;
	}
	.vacancyes-card-content > h1{
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
	}
	.vacancyes-card-content > p{
		font-weight: 400;
		font-size: 8px;
		line-height: 130%;
	}
	.vacancyes-cards-date{
		font-weight: 300;
		font-size: 6px;
		line-height: 130%;
	}
	.vacancyes-card > p{
		font-weight: 300;
		font-size: 10px;
		line-height: 130%;
	}
	.vacancyes-card-loc span,.vacancyes-card-loc p{
		font-weight: 300;
		font-size: 8px;
		line-height: 130%;
	}
	/*Footer*/
	.footer-container {
	    gap: 15px;
	}
	.footer-first-block > div > h3{
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	}
	.footer-first-block > div > ul > a{
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
	}

	.footer-second-block-one{
		font-weight: 400;
		font-size: 8px;
		line-height: 150%;

	}
	.footer-second-block-two {
	    gap: 7px;
	}
	.apps{
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
	}
	.apps img{
		width: 63px;
		height: 18px;
	}
	.social{
		gap: 5px;
	}
	.social img{
		width: 17px;
		height: 16px;
	}

	.footer-third-block > p{
		font-weight: 400;
		font-size: 8px;
		line-height: 150%;
	}


}
