*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}
body{
	/*background-image: url("../images/desktop/background.png");
	background-repeat: no-repeat;
	background-position: center;*/
}

li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*Containers*/
.container{
    max-width:1144px ;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-container{
	max-width:1144px ;
    margin: 0 auto;
    padding: 0 24px;
}
/*HEADER*/
.header{
	margin-bottom: 80px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header-icons{
	position: absolute;
	top: 0;
	right: 0;

}
.header-logo-and-menu{
	display: flex;
	align-items:center;
	gap: 15px;
}
.header-logo-and-menu > a > img{}

.header-menu{
	display: flex;
	flex-direction: column;
	gap :10px;
}
.header-menu-one > ul{
	display: flex;
	gap: 17px;
}
.header-menu-one > ul a{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: #000000;

}

.header-menu-two > ul{
	display: flex;
	gap: 12px;
}

.header-menu-two > ul a{
	font-style: normal;
	font-weight: 400;
	font-size: 9px;
	line-height: 10px;
	color: #000000;

}

.header-menu-one > ul a:hover{
	color: #DB0011;
}

.header-menu-two > ul a:hover{
	color: #DB0011;
}


.header-input-and-button {
	display: flex;
	gap: 21px;
}
.header-input-and-button > input{
	width: 256px;
    height: 39px;
	border: none;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.02);
	border-radius: 7px;
	padding: 5px 6px;
}
.header-input-and-button > button{
	border: none;
	width: 100px;
	height: 39px;
	background: #DB0011;
	border-radius: 8px;
	padding: 7px;
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	color: #FFFFFF;

}
.header-input-and-button > button:hover{
	box-shadow:0 0 10px 1px #db0011;
	transition: .3s;
}

/*Main*/
.main{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-title{
	width: 473px;
    height: 197px;
}
.main-title > h1{
	font-weight: 600;
	font-size: 46px;
	line-height: 130%;
	color: #000000;
}
.main-title > p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: #000000;
}


/*Dropdown*/
.dropdown{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.dropdown > h1{
	align-self:center;
	margin-bottom:20px;
}
.dropdown-menu{
	display: flex;
	flex-direction: inherit;
/*	gap: 20px;*/
}

.dropdown-label{
	width: 100%;
	padding: 16px 30px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	background: rgba(219, 0, 17, 0.1);
	border: 1px solid rgba(219, 0, 17, 0.1);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}
.dropdown-label p{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}


.rotate-plus{
	transform: rotate(-45deg);
}

.dropdown-list{
/*	align-self: center;*/
/*	max-width: 1000px;*/
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 10px;

}
.dropdown-list-content{
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(219, 0, 17, 0.1);
}

.dropdown-list div h3{
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #000000;

	
}
.dropdown-list div p{
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	color: #000000;
	
}
.dropdown-list div ul li{
	list-style: inside;
	
}
.dropdown-list {
  /* Начальное состояние списка */
	  opacity: 1;
	  max-height: 530px;
	  overflow: hidden;
	  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.dropdown-list.display {
	/* Стили для плавного появления */
	opacity: 0;
	max-height:0; /* Установите значение, подходящее для вашего контента */
}



.loans-calc{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}
.loans-calc h1{
	align-self: center;
	font-weight: 600;
	font-size: 40px;
	line-height: 130%;
}


/*Calculator card*/
.card-calculator{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
/*calculation tab*/
.calculation-card{
	overflow: hidden;
	width: 577px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 40px 35px;
	gap: 50px;
    display: flex;
    flex-direction: column;
}
.deposit-menu{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.deposit-menu > form > select{
	width: 100%;
	height: 65px;
	background: rgba(241, 241, 241, 0.8);
	border-radius: 10px 10px 0px 0px;
	border:none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
 	padding: 20px 24px;
}
/*Deposit amount*/
.deposit-amount{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.range-slider{
	position: relative;
}
.slider-number{
	width: 100%;
	height:55px;
	background: rgba(241, 241, 241, 0.8);
	border-radius: 10px 10px 0px 0px;
	padding: 20px 24px;
}
.slider {
	position: absolute;
	width: 100%;
  	appearance: none;
  	background: #DB0011;
  	height: 5px;
}

.slider::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;
  	width: 10px;
  	height: 10px; 
  	background: #DB0011;
  	border-radius: 50%;
}
.range-numbers{
	display: flex;
	justify-content: space-between;
}
.range-numbers > p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;

	color: #000000;
}
/*Deposit-term*/
.deposit-term{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.black-button{
	background: black;
	color: white;
}
.deposit-term-buttons{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.deposit-term-buttons > button{
	height: 33px;
	border-radius: 10px;
	padding: 9px 20px;
	border: none;
}
/*Result Card*/
.result-card{
	width: 529px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 20px 30px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	gap: 35px;

}
.inter-rate{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.inter-rate > p{
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;

}
.inter-rate > h2{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
/*inter-rate-result*/
.inter-rate-result{
	display: flex;
	flex-direction: column;

}
.inter-rate-result > div{
	display: flex;
	justify-content: space-between;
}
.inter-rate-result > div > p{
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}
.inter-rate-result > div > span{
	font-weight: 600;
	font-size: 23px;
	line-height: 32px;
}


/*Online loan applications*/

.online-loan-app{
	margin-top: 100px;
	display: flex;
	flex-direction: column;

}
.online-loan-app > h1{
	margin-bottom: 50px;
	align-self: center;
}
.main-card{
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 36px 21px;
}

.main-card{
	display: flex;
	flex-direction: column;
	gap:40px;
}
/*1*/
.main-card1{
}
.main-card1{
	display: flex;
	gap: 10px;
}
.main-card1 > label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}

.main-card1 label >input{
	border:none;
	height: 54.51px;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

}

/*2*/
.main-card2{
}
.main-card2  {
	display: flex;
	gap: 10px;
}
.main-card2  >label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}
.main-card2  > label >input{
	border:none;
	height: 54.51px;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;

}
.titile-select{
	background-color: transparent;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

/*3*/
.main-card3{
}
.main-card3  {
	display: flex;
	gap: 10px;
}
.main-card3  >label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}
.main-card3  > label >input{
	border:none;
	height: 54.51px;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}
.main-card3  > label >select{
	width: 100%;
	height: 54.51px;
	background: rgba(241, 241, 241, 0.8);
	border-radius: 10px 10px 0px 0px;
	border:none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
 	padding: 20px 24px;
}
/*4*/
.main-card4{
	display: flex;
	gap: 10px;

}
.main-card4 > label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}

.main-card4 > label textarea{
	border:none;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}
/*5*/
.main-card5{
}
.main-card5  {
	display: flex;
	gap: 10px;
}
.main-card5  >label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}
.main-card5  > label > input{
	border:none;
	height: 54.51px;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;

}
.titile-select{
	background-color: transparent;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}
/*6*/
.main-card6{
}
.main-card6  {
	display: flex;
	gap: 10px;
}
.main-card6  >label{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}
.main-card6  > label >input{
	border:none;
	height: 54.51px;
	background: #F3F4F6;
	border-radius: 10px 10px 0px 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 10px;
}
.main-card6  > label >select{
	width: 100%;
	height: 54.51px;
	background: rgba(241, 241, 241, 0.8);
	border-radius: 10px 10px 0px 0px;
	border:none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
 	padding: 20px 24px;
}

.upload{
	display: flex;
	gap: 20px;
}
.upload > label{
	gap:20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

}
.file-upload-container {
	position: relative;
	width: 100%;
	height: 188px;
	background: #F3F4F6;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}


.file-input {
	position: absolute;
	left: -9999px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.file-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.last{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.last button{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	width: 184px;
	height: 39px;
	background: #DB0011;
	border-radius: 10px;
	border:none;
}
.last button:hover{
	transition: .5s;
	box-shadow: 0px 0px 12px rgba(219, 0, 17, 0.5);
}




/*CARDS*/
.cards-container{
	margin-top: 30px;
    overflow: hidden;
}


.cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cards > div{
	width: 357px;
	height: 160px;
	padding: 25px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;	
}
.cards > div > h2{
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #DB0011;
}
.cards > div > p{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
}


.bank-services{
	margin-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.bank-services > h1{
	font-weight: 600;
	font-size: 40px;
	line-height: 130%;
	color: #000000;
}

.bank-services-cards{
	margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.bank-services-cards > div{
	width: 225px;
/*	height: 187px;*/
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	padding: 20px;
}
.bank-services-cards img{
	margin-bottom: 8px;
	width: 50px;
	height: 50px;
}

.bank-services-cards > div > p{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.bank-services-cards > div:hover{
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	transition: .5s;
}

.bank-services-arrow{
	position: absolute;
	width: 37px;
	height: 35px;
	padding: 10px;
	right: 29px;
    bottom: 225px;
	background: #FFFFFF;
	border-radius: 50%;
	border: 1px solid rgba(219, 0, 17, 0.05);
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.bank-services-arrow:hover{
	box-shadow: 0px .5px 15px grey;
}

/*Footer*/
footer{
	margin-top: 100px;
	background: #DB0011;
	width: 100%;
	color: #FFFFFF;
}


.footer-container{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
/*FIRST*/
.footer-first-block{
	display: flex;
/*	gap: 30px;*/
	margin-top: 60px;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-first-block > div{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.footer-first-block > div > h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}
.footer-first-block > div > ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.footer-first-block > div > ul > a{
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.footer-first-block > div > ul > a:hover{
	text-decoration: underline;
}
/*SECOND*/
.footer-second-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

.footer-second-block-one{
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	
}
.footer-second-block-two{
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.footer-second-block-two > div{
	display: flex;
	justify-content: end;
}
.apps{
	display: flex;
	font-weight: 600;
	gap:5px;
	font-size: 18px;
	line-height: 22px;
	align-items: center;

}
.social{
	display: flex;
	gap: 15px;
}

/*THIRD*/
.footer-third-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-third-block > p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}
#contacts > a{
	display: flex;
	gap:5px;
	align-items: center;
}
.mobile-menu{
	display: none;
}